// Tutorial Header
header.masthead(style='background-image: url("/assets/img/tutoriels-bg.jpg")')
    .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
            .col-md-10.col-lg-8.col-xl-7
                .page-heading
                    h1= title
                    if subtitle
                        span.subheading= subtitle
