doctype html
html(lang='fr')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Expert en développement web et rédaction technique - Découvrez mon parcours et mes compétences')
        meta(name='author', content='Thierry Gogo')

        title Thierry Gogo - Expert Développement Web & Rédaction Technique

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('/assets/img/about-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .page-heading
                            h1 À Propos de Moi
                            span.subheading Expertise en Développement Web & Rédaction Technique

        // Main Content
        main.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        h2.text-primary.mb-4 Mon Expertise
                        p.lead
                            | Passionné par le développement web et la rédaction technique, je mets mon expertise au service de vos projets pour créer des solutions innovantes et efficaces.

                        h3.mt-4 Développement Web
                        p
                            | Fort de plusieurs années d'expérience dans le développement web, je maîtrise les technologies modernes (HTML5, CSS3, JavaScript) et les frameworks populaires. Je crée des sites web responsifs, performants et optimisés pour le référencement.

                        h3.mt-4 Rédaction Technique
                        p
                            | Spécialisé dans la rédaction technique et la documentation, je transforme des concepts complexes en contenus clairs et accessibles. Mon expertise s'étend de la rédaction de guides utilisateurs à la documentation technique détaillée.

                        h3.mt-4 Mes Valeurs
                        ul.list-unstyled
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Qualité et professionnalisme dans chaque projet
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Communication claire et transparente
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Respect des délais et des engagements
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Veille technologique constante

                        .text-center.mt-5
                            a.btn.btn-primary.btn-lg(href='contact.html') Me Contacter

        include includes/footer.pug

        include includes/scripts.pug
