doctype html
html(lang='fr')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Tutoriels bureautique et développement web par Thierry Gogo')
        meta(name='author', content='Thierry Gogo')

        title Thierry Gogo - Office Tutoriels

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('/assets/img/home-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            h1 Tutoriels par Thierry Gogo
                            span.subheading Formateur et Développeur Web, FullStack

        // Tutoriels Section
        section.py-5
            .container.px-4.px-lg-5
                .row.gx-4.gy-4
                    // Word Tutorial Card
                    .col-md-6.col-lg-4
                        .card.tutorial-card
                            img.card-img-top(src='assets/img/word/word01.png', alt='Microsoft Word Tutorial')
                            .card-body
                                h5.card-title Microsoft Word
                                p.card-text Apprenez les bases du traitement de texte : mise en forme, styles, tableaux et bien plus encore.
                                a.btn.btn-tutorial(href='/tuto-word') Commencer →

                    // Excel Tutorial Card
                    .col-md-6.col-lg-4
                        .card.tutorial-card
                            img.card-img-top(src='assets/img/excel/excel.png', alt='Microsoft Excel Tutorial')
                            .card-body
                                h5.card-title Microsoft Excel
                                p.card-text Maîtrisez les tableurs : formules, graphiques et analyse de données (Bientôt disponible).
                                a.btn.btn-tutorial(href='#', disabled) À venir →

                    // PowerPoint Tutorial Card
                    .col-md-6.col-lg-4
                        .card.tutorial-card
                            img.card-img-top(src='assets/img/ppoint/ppoint.png', alt='Microsoft PowerPoint Tutorial')
                            .card-body
                                h5.card-title Microsoft PowerPoint
                                p.card-text Créez des présentations professionnelles avec animations et transitions (Bientôt disponible).
                                a.btn.btn-tutorial(href='#', disabled) À venir →

        // Freelance Section
        section.freelance-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center.text-center
                    .col-md-10.col-lg-8.col-xl-7
                        img.profile-img(src='assets/img/profile/profileb.png', alt='Thierry Gogo - Développeur FullStack')
                        h2.mb-4 Thierry Gogo
                        h3.text-primary.mb-3 Développeur FullStack & Formateur
                        p.lead.mb-4 Passionné par le développement web et la formation, je combine expertise technique et pédagogie pour créer des solutions innovantes et former la prochaine génération de développeurs.
                        .skills.mb-4
                            span.badge.bg-primary.m-1 JavaScript
                            span.badge.bg-primary.m-1 React
                            span.badge.bg-primary.m-1 Node.js
                            span.badge.bg-primary.m-1 Python
                            span.badge.bg-primary.m-1 SQL
                            span.badge.bg-primary.m-1 Microsoft Office
                        p.mb-4 Je propose des services de développement web sur mesure et des formations en bureautique et programmation. Contactez-moi pour discuter de votre projet.
                        .social-links
                            a(href='https://github.com/thierrygog', target='_blank')
                                i.fab.fa-github
                            a(href='https://linkedin.com/in/thierrygog', target='_blank')
                                i.fab.fa-linkedin
                            a(href='mailto:contact@thierrygog.fr')
                                i.fas.fa-envelope
                        a.btn.btn-primary.mt-4(href='contact.html') Me contacter

        include includes/footer.pug

        include includes/scripts.pug
