//
// Variables
//

// Import variables from src/scss/variables

@import './variables/colors';
@import './variables/options';
@import './variables/typography';
@import './variables/buttons';
@import './variables/overlay';
@import './variables/forms';

// Variables

// Colors
$primary: #0085A1;
$secondary: #868e96;
$tutorial-primary: #2C3E50;

// Override Bootstrap primary
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

// Typography
$font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-family: 'Lora', 'Times New Roman', serif;
$font-size-lg: 1.25rem;

// Spacing
$spacer: 1rem;
$navbar-height: 4rem;
